body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 120px 0;
}
/* ================= HEADER ================= */
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header>.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.header-logo .logo-first {
    color: #2E2F42;
}
.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    padding: 0; 
    list-style: none;
}

.nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
    margin-right: 0;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-link {
    display: flex;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* ================= MAIN SECTION ================= */
.main {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
}

.main .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/* ================= BENEFITS SECTION ================= */
.benefits {
    padding: 120px 0;
}

.benefits .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ================= TEAM SECTION ================= */
.team {
    padding: 120px 0;
}

.team .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-item img {
    display: block;
    width: 100%;
    border-radius: 0 0 4px 4px;
}
.team-section {
    padding: 32px 0
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 32px 0 8px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 0 32px;
}
/* ================= PORTFOLIO SECTION ================= */
.portfolio {
    padding: 120px 0;
}

.portfolio .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item img {
    display: inline-block;
    width: 100%;
}

.portfolio-section {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}
/* ================= FOOTER ================= */
.footer {
    padding: 100px 0;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.footer .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: flex-start;
}

.footer-logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-logo .logo-second {
    color: #4D5AE5;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0 auto;
    text-align: left;
}