body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin:0; padding:0;
}
img {
    display: block;
    flex-grow: 1;
    max-width: 100%;
}
.container {
  width: 1158px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15 15px;
}
/* ================= HEADER ================= */
header {
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}
.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo .logo-first {
    color: #2E2F42;
}
.nav li:last-child {
    margin-right: 0;
}
.nav {
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}
.nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link:hover, 
.nav-link:active,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}
.contacts {
    display: inline-block;
    font-style: normal;
    justify-content: flex-wrap;
    width: calc((100% - 72px) / 2);
    gap: 40px;
}
.contacts-list {
  display: flex;    
  gap: 40px;
  align-items: center;         
  list-style: none;   
  margin: 0;
  padding: 0;
}
.address li:last-child {
    margin-right: 0;
}
.contacts-link {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}        
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ================= MAIN SECTION 1================= */

h1 {
    margin: 0 auto; 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    color: white;
    background-color: #2E2F42;
}

.main {
    padding: 188px 0;
    background-color: #2E2F42;
}
.main-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
/* ================= BENEFITS SECTION 2================= */
.benefits {
    padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
  white-space: nowrap;
}
h2 {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2E2F42; 
}
h3 {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
/* =============== Team Section 3========== */
.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-section {
    padding: 32px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
  
}
.team-name {
    margin-bottom: 8px;
}
.team-position {
    text-align: center;
}
.team-item {
    background-color: #FFFFFF;
}
/* =============== Portfolio Section 4========== */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-portfolio {
    margin-bottom: 72px;
}
.portfolio-list { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-item {
    flex-basis: calc((100% - 48px) / 3);
    border-radius: 0 0 4px 4px; 
}
.portfolio-section {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    margin-bottom: 8px;
}
.portfolio-category {
    text-align: center;
}
/* ================= FOOTER ================= */
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo .logo-second {
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}
a {
    display: inline-block;
    margin-bottom: 16px;
}